@page "/"

@using System.Timers
@using System.Collections.Specialized
@using TodoTree.PluginInfra
@using Scriban;
@inject TodoServiceClient TodoRepository
@inject DialogService DialogService
@implements IDisposable
@if (todos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <RadzenButton Icon="add_task" Click="e=>Add()" />
        <RadzenCheckBox TValue="bool" @bind-Value="showCompleted" />完了済みを表示
        <RadzenCheckBox TValue="bool" @bind-Value="editable" />編集
    </div>
    <div>
        <RadzenTree Style="width: 100%" Data="showTodo">
            <RadzenTreeLevel TextProperty="@nameof(Todo.Name)"
                         ChildrenProperty="@(showCompleted?nameof(Todo.Children):nameof(Todo.UncompletedChildren))"
                         HasChildren="@(e => ((e as Todo).Children?.Any()??false))">
                <Template>
                    @{
                    var todo = (context.Value as Todo);
                }

                <div class="form">

                    @if (!todo.HasChildren)
                    {
                        <div class="head-padding"></div>
                    }
                    @if (editable)
                    {
                        <RadzenButton Icon="add_task" Click="() => AddChild(todo)" />
                    }
                    @if (todo.IsRunning)
                    {
                        <RadzenButton Disabled="todo.Compleated" Icon="pause" Click="() => Stop(todo)" />
                    }
                    else
                    {
                        <RadzenButton Disabled="todo.Compleated" Icon="play_arrow" Click="() => Start(todo)" />
                    }
                    <RadzenCheckBox @bind-value="@todo.Compleated" TValue="bool" Change="(state) => ToggleComplete(state, todo)" />
                    <div class="name">
                        @if (editable)
                        {
                            <RadzenTextBox Style="width: 100%" @bind-value="todo.Name" Change="value => ChangeName(todo, value)" />
                        }
                        else
                        {
                            @RenderTitile(todo)
                        }
                    </div>
                    <div class="estimate-time">
                        @if (editable)
                        {
                            <RadzenDatePicker Disabled="todo.HasChildren" TValue="DateTime?" DateFormat="HH:mm" TimeOnly="true"
                                          ShowTime="true" Value="DateTime.Today + todo.EstimateTime"
                                          Change="(datetime) => ChangeEstimateTime(todo, datetime)" />
                        }
                        else
                        {
                            @todo.EstimateTime.ToString(@"hh\:mm\:ss")
                        }
                    </div>
                    <span>@todo.RemainingTime.ToString(@"hh\:mm\:ss")</span>
                    @if (editable)
                    {
                        @if (!todo.HasChildren)
                        {
                            <RadzenButton Icon="delete" Click="() => Delete(todo)" />
                        }
                        else
                        {
                            <RadzenButton Icon="delete_forever" Click="() => DeleteAllChildren(todo)" />
                        }
                    }
                    <RadzenButton Icon="access_time" Click="() => OpenTimeRecords(todo)" />
                </div>

            </Template>
        </RadzenTreeLevel>
    </RadzenTree>
</div>
}

@code {
    private Todo[] todos;
    private Timer timer;

    private IEnumerable<Todo> showTodo => showCompleted ? todos : todos?.Where(todo => !todo.Compleated);

    private bool showCompleted;
    private bool editable;

    protected override async Task OnInitializedAsync()
    {
        await TodoRepository.CheckAndConnect();
        todos = TodoRepository.GetTopTodos().ToArray();
        timer = new Timer(1000);
        timer.AutoReset = true;
        timer.Elapsed += async (sender, args) => await InvokeAsync(() => StateHasChanged());
        timer.Start();
        TodoRepository.ChangeTodo += Refresh;

    }

    public void Dispose()
    {
        TodoRepository.ChangeTodo -= Refresh;
    }

    async void Refresh()
    {
        await InvokeAsync(() => StateHasChanged());
    }

    private string RenderTitile(Todo todo)
    {
        var template = Template.Parse(todo.Name);

        // Check for any errors
        if (template.HasErrors)
        {

            return todo.Name;
        }
        return template.Render(todo.Attribute);
    }

    private bool CheckShow(Todo todo)
    {
        return showCompleted || !todo.Compleated;
    }

    private async Task Add()
    {
        await TodoRepository.Upsert(new Todo($"TodoItem{DateTime.Now}", TimeSpan.Zero, Enumerable.Empty<TimeRecord>(), new Dictionary<string, string>()));
        todos = TodoRepository.GetTopTodos().ToArray();
    }

    private async Task ChangeName(Todo todo, string name)
    {
        await TodoRepository.Upsert(todo);
    }

    public async Task ChangeEstimateTime(Todo todo, DateTime? dateTime)
    {
        if (!todo.HasChildren)
        {
            todo.EstimateTime = dateTime?.TimeOfDay ?? TimeSpan.Zero;
            await TodoRepository.Upsert(todo);
        }
    }

    private async Task Start(Todo todo)
    {
        await TodoRepository.Start(todo);
    }

    private async Task Stop(Todo todo)
    {
        await TodoRepository.Stop(todo);
    }

    private async Task ToggleComplete(bool state, Todo todo)
    {
        Console.WriteLine("toggle");
        if (!state)
        {
            await TodoRepository.Unomplete(todo);
            Console.WriteLine("UnComplete");
        }
        else
        {
            await TodoRepository.Complete(todo);
            Console.WriteLine("Complete");
        }
    }

    protected async Task AddChild(Todo todo)
    {
        todo.AddChild();
        await TodoRepository.Upsert(todo);

    }

    private async Task DeleteAllChildren(Todo todo)
    {
        todo.DeleteAllChildren();
        await TodoRepository.Upsert(todo);

    }

    private async Task Delete(Todo todo)
    {
        await TodoRepository.Delete(todo);

    }

    private void OpenTimeRecords(Todo todo)
    {
        DialogService.Open<TimeRecords>($"Time Record [{todo.Name}]",
                        new Dictionary<string, object>() { { "TodoId", todo.Id } },
                        new DialogOptions() { Width = "700px", Height = "530px" });
    }

}