@page "/"

@using System.Timers
@inject TodoRepository TodoRepository
@inject DialogService DialogService

@if (todos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <RadzenButton Icon="add_task" Click="e=>Add()" />
        <RadzenCheckBox TValue="bool" @bind-Value="showCompleted" />完了済みを表示
    </div>
    <div>
        <RadzenTree Style="width: 100%" Data="showTodo">
            <RadzenTreeLevel TextProperty="@nameof(Todo.Name)"
                ChildrenProperty="@(showCompleted?nameof(Todo.Children):nameof(Todo.UncompletedChildren))"
                HasChildren="@(e => ((e as Todo).Children?.Any()??false))">
                <Template>
                    @{
                    var todo = (context.Value as Todo);
                }

                <div class="form">

                    @if (!todo.HasChildren)
                    {
                        <div class="head-padding"></div>
                    }

                    <RadzenButton Icon="add_task" Click="() => AddChild(todo)" />
                    @if (todo.IsRunning)
                    {
                        <RadzenButton Disabled="todo.Compleated" Icon="pause" Click="() => Stop(todo)" />
                    }
                    else
                    {
                        <RadzenButton Disabled="todo.Compleated" Icon="play_arrow" Click="() => Start(todo)" />
                    }
                    <RadzenCheckBox @bind-value="@todo.Compleated"  TValue="bool" Change="() => ToggleComplete(todo)" />
                    <div class="name">
                        <RadzenTextBox Style="width: 100%" @bind-value="todo.Name" Change="value => ChangeName(todo, value)" />
                    </div>
                    <div class="estimate-time">
                        <RadzenDatePicker  Disabled="todo.HasChildren" TValue="DateTime?" DateFormat="HH:mm" TimeOnly="true"
                        ShowTime="true" Value="DateTime.Today + todo.EstimateTime"
                        Change="(datetime) => ChangeEstimateTime(todo, datetime)" />
                    </div>
                    <span>@todo.RemainingTime.ToString(@"hh\:mm\:ss")</span>
                    @if (!todo.HasChildren)
                    {
                        <RadzenButton Icon="delete" Click="() => Delete(todo)" />
                    } else {
                        <RadzenButton Icon="delete_forever" Click="() => DeleteAllChildren(todo)" />
                    }

                    <RadzenButton Icon="access_time" Click="() => OpenTimeRecords(todo)" />
                </div>

            </Template>
        </RadzenTreeLevel>
    </RadzenTree>
</div>
}

@code{
    private Todo[] todos;
    private Timer timer;

    private IEnumerable<Todo> showTodo => showCompleted ? todos : todos?.Where(todo => !todo.Compleated);

    private bool showCompleted;

    protected override async Task OnInitializedAsync()
    {
        todos = TodoRepository.GetTopTodo().ToArray();
        timer = new Timer(1000);
        timer.AutoReset = true;
        timer.Elapsed += async (sender, args) => await InvokeAsync(() => StateHasChanged());
        timer.Start();
    }

    private bool CheckShow(Todo todo)
    {
        return showCompleted || !todo.Compleated;
    }

    private void Add()
    {
        TodoRepository.AddOrUpdate(new Todo("TodoItem", TimeSpan.Zero, Enumerable.Empty<TimeRecord>()));
        todos = TodoRepository.GetTopTodo().ToArray();
    }

    private void ChangeName(Todo todo, string name)
    {
        TodoRepository.AddOrUpdate(todo);
    }

    public void ChangeEstimateTime(Todo todo, DateTime? dateTime)
    {
        if (!todo.HasChildren)
        {
            todo.EstimateTime = dateTime?.TimeOfDay ?? TimeSpan.Zero;
            TodoRepository.AddOrUpdate(todo);
        }
    }

    private void Start(Todo todo)
    {
        todo.Start();
        TodoRepository.AddOrUpdate(todo);
    }

    private void Stop(Todo todo)
    {
        todo.Stop();
        TodoRepository.AddOrUpdate(todo);
    }

    private void ToggleComplete(Todo todo){
        Console.WriteLine("toggle");
        if(todo.Compleated){
            todo.Complete();
            Console.WriteLine("UnComplete");
        }else{
            todo.UnComplete();
            Console.WriteLine("Complete");
        }
        TodoRepository.AddOrUpdate(todo);
        this.StateHasChanged();
    }

    protected void AddChild(Todo todo)
    {
        todo.AddChild();
        TodoRepository.AddOrUpdate(todo);
        todos = TodoRepository.GetTopTodo().ToArray();

    }

    private void DeleteAllChildren(Todo todo)
    {
        todo.DeleteAllChildren();
        TodoRepository.AddOrUpdate(todo);
        todos = TodoRepository.GetTopTodo().ToArray();

    }

    private void Delete(Todo todo)
    {
        TodoRepository.Delete(todo);
        todos = TodoRepository.GetTopTodo().ToArray();

    }

    private void OpenTimeRecords(Todo todo){
        DialogService.Open<TimeRecords>($"Time Record [{todo.Name}]",
                        new Dictionary<string, object>() { { "TodoId", todo.Id } },
                        new DialogOptions(){ Width = "700px", Height = "530px" });
    }

}